@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    font-family: 'Kaushan Script', cursive;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    min-height: 100vh;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.7rem;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: .2rem 1rem;
} 

.btn {
    text-decoration: none;
    color: azure;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #131313;
    padding: .1rem 1.2rem;
    margin: .3rem .4rem;
}

.btn:hover {
    background-color: azure;
    color: #131313;
}

