@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Kaushan Script', cursive;
    background: hsla(212, 13%, 41%, 1);
    background: linear-gradient(90deg, hsla(212, 13%, 41%, 1) 0%, hsla(3, 100%, 73%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(212, 13%, 41%, 1) 0%, hsla(3, 100%, 73%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(212, 13%, 41%, 1) 0%, hsla(3, 100%, 73%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5A6776", endColorstr="#FF7B74", GradientType=1 );    min-height: 100vh;
    text-align: center;
}

main {
    max-width: 60rem;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.7rem;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    max-width: 30rem;
    margin: 0 auto;
}

nav ul li {
    margin: .3rem;
}

.btn {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: azure;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #131313;
    padding: .1rem 1.2rem;
}

.btn:hover {
    background-color: azure;
    color: #131313;
}

table {
    margin: 3rem auto 1rem auto;
}

button, input[type="submit"] {
    background: #131313;
    color: azure;
    border: none;
    cursor: pointer;
    outline: inherit;
}

.chinese-wrapper {
    margin: 0 auto;
    max-width: 20rem;
}

.chinese-wrapper p, .translate p {
    padding: 0;
    margin: 0;
}

.hanzi {
    font-size: 5rem;
}

.pinyin {
    font-size: 3rem;
    background-color: #131313;
    color: azure;
}

.translate {
    margin-bottom: 2rem;
}

/* Form add word */

.add-word-wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.add-word-wrapper form {
    text-align: right;
}

.add-word-wrapper form label {
    margin-right: 2rem;   
}