{% extends "base.html" %}
{% block content %}
    <h1>Acerca de este proyecto</h1>
    <p>
        La idea de Chino Básico surge desde la curiosidad por aprender
        sobre este idioma que vengo cultivando hace más de un año a través
        de Duolingo.
    </p>
    <p>
        A raíz de un trabajo práctico para la materia Desarrollo de Sistemas
        Web Backend, me planteé hacer un sitio que muestre una palabra en chino 
        por día (al estilo "Word of the Day").
    </p>
    <p>
        Para eso pensé la estructura de este sitio y cualquier novedad voy a ir 
        subiendo <a href="https://github.com/kaenovsky/zhongwen">a este repo</a>.
    </p>
{% endblock content %}