{% extends "base.html" %}
{% block content %}
    <h1>Palabras</h1>
    <p>Acá vemos la primera palabra que vamos a aprender.</p>
    <h2>Es un saludo!</h2>
    <div class="chinese-wrapper">
        <p class="hanzi">你好</p>
        <p class="pinyin">nihao</p>
    </div>
    <div class="translate">
        <p>En español: hola</p>
        <p>En inglés: hello</p>
    </div>
    {% if user.is_authenticated %}
    <a class="btn btn-bg" href="{% url 'word_create' %}">Cargar nueva palabra</a>
    {% endif %}
    {% include "./all_words.html" %}
{% endblock content %}