{% extends "base.html" %}
{% block content %}
    <h1>Cómo usar este sitio</h1>
    <p>Con esta guía vas a aprender a administrar el sitio.</p>
    <p>
        1. Cargar palabras: puedes cargar palabras desde la sección
        linkeada en el menú de navegación como 'words'. Ahí podrás
        cargar palabras, editarlas y eliminarlas.
    </p>
    <p>
        2. Puedes hacer lo mismo con los números. Ten en cuenta que la
        url de cada número es su id.
    </p>
    <p>
        3. Debes ser admin para hacer esto, pide tu usuario enviando un
        mensaje desde el formulario de contacto.
    </p>
    <h4>Pronto más info!</h4>
{% endblock content %}